@media screen and (max-width: 900px) {
    p {
      font-size: 20px;
      
    }
  }

  @media screen and (max-width: 768px) {
    p {
      font-size: 30px;
     
    }
    body {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 640px) {
    p {
      font-size: 40px;
    
    }

    body {
      font-size: 20px;
    }
  }

  .tinyyy {
    padding-top: 0px;
    padding-bottom: 0px;
  }