@media screen and (max-width: 900px) {
    body {
      font-size: 20px;
      
    }
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 30px;
     
    }
  }

  @media screen and (max-width: 640px) {
    body {
      font-size: 40px;
    
    }
  }