#heythere {
    color: #cccccc;
    background-color: white;
}

a, a:hover {
    color:#cccccc;
}

#logo {
    background-color: #4aaaa5;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    color: white;
}

body {
    background-color: white;
    background-image: url("../images/seigaiha.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1vw;
}

.hello {
    background-color:white;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
}

.colorfooter {
    height: 10vh;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.bottom {
    color: white;
    font-size: 10px;
    vertical-align: baseline;
}

button {
    background-color: #4aaaa5 !important;

}

img {
    height: 200px;
    width: 200px;
    
}

h5 {
    background-color: #4aaaa5;
    width: 100%;
}