#heythere {
    color: #cccccc;
    background-color: white;
}

a, a:hover {
    color:#cccccc;
}

#logo {
    background-color: #4aaaa5;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    color: white;
}

body {
    background-color: white;
    background-image: url("../images/seigaiha.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1vw;
}

.hello {
    background-color:white;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2vw;
    text-align: left;
}
